# Ignore Python environment folders
venv/
.venv/
env/
nanodet_venv
nanodet
Lotus
Lotus_venv
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore dependency files
*.log
*.csv
*.sqlite3

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore large files
*.zip
*.tar.gz
*.h5
*.pth
models/
data/

# Ignore Conda environment files
conda_env.yml
